body {
  background-color: #f3f3f3;
}

.bg-white {
  border-bottom: 1px solid rgba(0,0,0,.1);
  .user-img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 0.5rem;
    position: relative;
    top: -3px;
  }
}