.user-profile {
  width: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
}

.user-card {
  box-shadow: 0 2px 1px rgba(0,0,0,.05);
}

.list-group-item.active {
  background: #1A2980;
  background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
  background: linear-gradient(to right, #26D0CE, #1A2980);
  border-color: snow;
}

button{
  &:focus {
    outline: none;
  }
}

.list-style-type-circle {
  list-style-type: circle;
}